<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--include vuejs into project-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <div id="app" style="margin-bottom: 5px;padding: 10px;color: #fff;background: red">
        {{ message }}
    </div>

    <div id="app-2" style="margin-bottom: 5px;padding: 10px;color: #fff;background: black">
        <span v-bind:title="message">
            hover for a few sec to see attribute 'title' has been bind!
        </span>
    </div>

    <div id="app-3" style="margin-bottom: 5px;padding: 10px;color: #fff;background: aqua">
        <span v-if="seen">Show or Not</span>
    </div>

    <div id="app-4" style="margin-bottom: 5px;padding: 10px;color: #fff;background: red">
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
    </div>

    <div id="app-5" style="margin-bottom: 5px;padding: 10px;color: #fff;background: black">
        <p>{{message}}</p>
        <button v-on:click="reverseMessage">Revert Message</button>
    </div>

    <div id="app-6" style="margin-bottom: 5px;padding: 10px;color: #fff;background: lightcoral">
        <p>{{message}}</p>
        <input v-model="message">
    </div>

</body>
</html>

<script type="application/javascript">
    var app = new Vue({
        el: '#app',
        data:{
            message:"Do you want play game ?"
        }
    })

    var app2 = new Vue({
        el:'#app-2',
        data:{
            message:'You has been open at' + new Date().toLocaleString()
        }
    })

    var app3 = new Vue({
        el:'#app-3',
        data:{
            seen:true
        }
    })

    var app4 = new Vue({
        el:'#app-4',
        data: {
            todos:[
                {text:'1'},
                {text:'2'},
                {text:'3'},
            ]
        }
    })

    var app5 = new Vue({
        el:'#app-5',
        data:{
            message: 'This is dummy text'
        },
        methods: {
            reverseMessage:function(){
                this.message = this.message.split(' ').reverse().join(' ');
            }
        }
    })

    var app6 = new Vue({
        el:'#app-6',
        data:{
            message:'fix this messsage'
        }
    })
</script>

