<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List with v-for</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style type="text/css">
        .container{
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div id="app" class="container">
        <!--<div class="alert alert-success" role="alert" v-if="user.email == 'test@allaravel.com' && user.password == '123456'">-->
            <!--Chào mừng {{ user.email }} đã đăng nhập thành công!-->
        <!--</div>-->
        <!--<div class="alert alert-danger" role="alert" v-if="(user.email != 'test@allaravel.com' && user.email != null) || (user.password != '123456' && user.password != null)">-->
            <!--Thông tin đăng nhập sai, vui lòng thử lại!-->
        <!--</div>-->

        <!--<form v-if="user.email != 'test@allaravel.com' || user.password != '123456'">-->
            <!--<div class="form-group row">-->
                <!--<label for="staticEmail" class="col-sm-2 col-form-label">Email</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<input type="text" class="form-control" v-model="user.email">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group row">-->
                <!--<label for="inputPassword" class="col-sm-2 col-form-label">Password</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<input type="password" class="form-control" v-model="user.password">-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->

        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Bảng cửu chương {{ number }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">
                <label>Nhập số</label>
            </div>
            <div class="col-md-2">
                <input type="number" class="form-control" v-model="number">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2" v-for="i in 10">
                {{ i }} x {{ number }} = {{ i * number }}
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        new Vue({
            el:'#app',
            data:{
                // user:{}
                number: 10
            }
        })
    </script>
</body>
</html>