<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Object attributes with v-for</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<div id="app" class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="text-success">Chi tiết thông tin người dùng</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" v-for="(value, key, index) in user">
            {{index}} - {{key}} : {{value}}
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el:'#app',
        data:{
            user:{
                name:'Peocandy',
                email:'hieuhaono@gmail.com',
                phone:'091230124',
                joinedDate: '25/05/2018',
                location: 'Hà Nội',
            }
        }
    })
</script>
</body>
</html>