<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xử lý mảng giá trị với v-for Vuejs - Allaravel.com</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>
<body>
    <div id="app" class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="text-success">Danh sách các bài viết</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" v-for="(title, index) in postTitle">
                <!--<h4>{{title}}</h4>-->
                <h4>{{ index + 1}}. {{ title }}</h4>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        new Vue({
            el:'#app',
            data:{
                postTitle:[
                    'Title 1',
                    'Title 2',
                    'Title 3',
                ]
            }
        })
    </script>
</body>
</html>