<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ví dụ về v-if </title>
</head>
<body>
    <div id="app">
        <h1 v-if="user.gender == 1 && user.name != null" style="color: red;">Chào anh {{ user.name}}</h1>
        <h1 v-else-if="user.gender == 0 && user.name != null" style="color: green;">Chào Chị {{ user.name}}</h1>

        <h1 v-else style="color:blue">Ví dụ về v-if</h1>
        <br>
        <label for="">Họ và tên</label>
        <input type="text" placeholder="Nhập vào tên" v-model="user.name" />
        <br>
        <label for="">Giới tính</label>
        <select v-model="user.gender">
            <option value="1">Nam</option>
            <option value="0">Nữ</option>
        </select>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '#app',
            data: {
                user: {}
            }
        })
    </script>
</body>
</html>