<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ví dụ về v-show </title>
</head>
<body>

<div id="app">
    <h1 v-show="user.gender == 1 && user.name != null" style="color: red;">Chào Anh {{user.name }}</h1>
    <h1 v-show="user.gender == 2 && user.name != null" style="color: blue;">Chào Chị {{user.name }}</h1>
    <h1 v-show="user.name == null" style="color: green;">Ví dụ về v-show</h1>
    <br>
    <label for="">Họ và tên</label>
    <input type="text" v-model="user.name" placeholder="Nhập vào tên" />
    <br>
    <label for="">Giới tính</label>
    <select name="" id="" v-model="user.gender">
        <option value="1">Nam</option>
        <option value="2">Nữ</option>
    </select>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el:'#app',
        data:{
            user:{}
        }
    })
</script>
</body>
</html>