<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--include vuejs into project-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <div id="example">
        <p>Message Start: {{ message }}</p>
        <p>Message revert by computed: {{ reversedMessage }}</p>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el:"#example",
            data:{
                message:"this is core message"
            },
            computed:{
                reversedMessage:function(){

                    return this.message.split(' ').reverse().join(' ')
                }
            }
        })

    </script>
</body>