<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>
    <div id="watch-example">
        <p>
            Hãy hỏi 1 câu hỏi y/n
            <input v-model="question">
        </p>
        <p>{{ answer }}</p>

    </div>


    <!--include vuejs into project-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>

    <script>
        var watchExampleVM = new Vue({
            el:'#watch-example',
            data:{
                question: '',
                answer:'Không thể trả lời nếu bạn chưa đặt câu hỏi'
            },
            watch:{
                question:function(newQuestion,oldQuestion){
                    this.answer = 'Đang chờ bạn đặt câu hỏi..'
                    this.getAnswer()
                }
            },
            methods:{
                getAnswer: _.debounce(
                    function () {
                        if(this.question.indexOf('?') === -1){
                            this.answer = 'Câu hỏi thường chứa dấu "?" ;-) '
                            return
                        }
                        this.answer = 'Thinking ..'
                        var vm = this
                        axios.get('https://yesno.wtf/api')
                            .then(function(response){
                            vm.answer = _.capitalize(response.data.answer)
                            })
                            .catch(function (error) {
                                vm.answer = 'Lỗi! không truy cập API' + error
                            })
                    },
                    500
                )
            }
        })

    </script>
</body>
</html>