<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ví dụ về v-show </title>
    <style type="text/css">
        .form{
            margin: 5px 0px;
        }

        .form label{
            width: 80px;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="errLog">
            <h4 v-if="user.username == 'test@allaravel.com' && user.username != null && user.password !=null && user.password == '123456' " style="color: blue;">Chúc mừng {{user.username}} đã đăng nhập thành công</h4>
            <h4 v-else-if="user.username == null && user.password == null" style="color: red;">Tên đăng nhập và mật khẩu không được để trống</h4>
            <h4 v-else="user.username !== 'test@allaravel.com' && user.password != '123456' " style="color: red;">Tên đăng nhập và mật khẩu không đúng</h4>
        </div>
        <br>
        <div class="form">
            <label for="">UserName: </label>
                <input type="text" placeholder="Địa chỉ email" v-model="user.username" />

        </div>
        <div class="form">
            <label for="" style="margin-top: 4px;">Password: </label>
            <input type="password" placeholder="password" v-model="user.password" />
        </div>
    </div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el:'#app',
        data:{
            user: {}
        }
    })

</script>
</body>